/* .italic wird hier benutzt um den lateinischen Namen kursiv anzuzeigen
*/



body {
  background-color: rgb(226, 245, 181);

  color: #363636;
  font-family: Arial, Helvetica, sans-serif;
  height:100%;


}

@media all and (max-width:300px){

  #top-box {

  }

  div#soundButtonBox{

  }

  #inputField{

  }
  div#solutionButtonBox {

  }

  #solutionButton1{

  }

  #solutionButton2 {

  }

  img#img1 {
    max-height:100%;
    max-width: 100%
  }
  div.image-col{

  }

  #attribution {

  }




  h2 {

  }

  .select-wrapper {

  }

  .btn-primary{


  }

  div#inputField button {


  }

  div#soundButtonBox {

  }
  label {

  }
  .select-wrapper {

  }



  div#inputField button {
    margin: 0;
  }

  div#inputField input {

  }

  div#soundButtonBox {

  }


  select {

  }



  select {

  }




}


@media only screen and (min-width: 300px) and (max-width: 1000px) {

  .select-wrapper{



  }
  .btn-primary{
    font-size: 3.1vmin;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
  }


  .image-col{
    max-height:30vmin;
    height: 100%;
    margin-bottom: 3.5vmin;
  }
  img#img1 {
    max-height:100%;
    max-width: 100%
  }

  #top-box {



  }

  h1{
    font-size: 4vmin;;
  }

  h2{
    font-size: 3vmin;
  }

  .sm-4 {

  }

  #difficulty{
    font-size: 2vmin;
    height: min-content;

  }

  soundButtonBox {

  }

  #soundButtonBox button {
    margin: 1vmin;
  }

  #textfield1 {
    font-size: 1vmin;
  }

  inputField {

  }


  #inputField input{
    font-size: 2.8vmin;

  }
  #inputField button{
    font-size: 3.1vmin;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 8px;

  }
  solutionButtonBox {

  }

  #solutionButton1, #solutionButton2 {
    font-size: 3vmin;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
  }

  .col-8 {



  }

  #solutionButton1 {
    margin-right: 0;
  }

  #solutionButton2 {
    margin-left: 3vmin;
  }

}




/*****************************************************/


@media only screen and (min-width: 1000px) {

  #difficulty{
    font-size: 2.1vmin;
  }

  #soundButtonBox button{
    font-size: 2.5vmin;

  }

  #textfield1 {
    font-size: 2.5vmin;
  }

  #inputField button{
    font-size: 2.5vmin;
  }

  #solutionButton1 {
    font-size: 2.5vmin;
  }

  #solutionButton2 {
    font-size: 2.5vmin;
  }

  #middle-main-3{

  }
  #middle-main-3 h2{
    font-size: 3vmin;

  }

  h2 {

  }

  label {

  }

  .row.flex-right{
    margin-bottom: -20px;
  }

  h1{
    font-size:40px;

  }

  .select-wrapper{
    position: relative;
    margin-right: 0;
    width: 50%;
    margin-left: auto;
  }


  #title{

  }

  div#soundButtonBox{

  }

  .btn-primary{

    margin-right: 3vmin;
  }

  div#inputField select {

  }

  div#solutionButtonBox button{

  }

  #solutionButton1{
    margin-right: 4vmin;
  }

  #solutionButton2 {

  }

  div#inputField{

  }


  div#solutionButtonBox {

  }

  #inputField button{
    margin-left: 2vmin;
  }

  img#img1 {

  }

  .image-col{
    max-height:30vmin;
    height: 100%;
    margin-bottom: 3.5vmin;

  }
  img#img1 {
    max-height:100%;
    max-width: 100%
  }

  .select-wrapper {

  }
}

@media (min-width: 1440px) {

  #top-box {

  }

  #title{

  }

  div#soundButtonBox{

  }

  div#soundbuttonBox button{

  }

  div#inputField{


  }

  #textfield1 {
    width: 35vmin;
    padding: 1vmin 0 1vmin 0;
  }





  div#solutionButtonBox {
  }

  #top-box h1{

  }
}

/**************************/


html {

  height: 100%;
  margin: 0;
  box-sizing: border-box;
  text-align: -webkit-center;

}

*, *:before, *:after { box-sizing: inherit; }

.italic {
  font-style: italic;
}






#top-box{
  overflow: hidden;
  margin-right: -0%;
}


#top-box::after {
  content: "";
  clear: both;
  display: table;
}



.select-wrapper {
  margin-top: 1vmin;
  margin-bottom: 1vmin;

}


.select-wrapper::before {
  color: #fff;
  font-size: 20px;
  pointer-events: none;

}

div#select-wrapper:after {
  content: "";
  display: table;
  clear: both;
  box-sizing: border-box;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  /* der folgende Aufruf nutzt Data-Uri -> hier werden die Bildinformationen eines kleinen Bildes wie ein Link zu einer externen Quelle
  -> statt eine externe Bild-Datein lädt der Browser direkt die Bilddaten
  --> uri-Generatoren sind online zu finden
  */
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8nwYAAmoBZ0eMiB8AAAAASUVORK5CYII=) repeat;
  border: none;
  border-radius: 3px;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,.3);
  color: #000;
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  outline: none;
  padding-left: 10px;
  width: 100%;
}

select option {

}

p {
  font-size: 3vmin;
}

select::-ms-expand {
  display: none;
}

select:focus::-ms-value {
  background-color: transparent;
}




h2 {
  text-align: center;
}

img#img1 {

}

/* attribution is the line for attributing the author of certain pictures */
#attribution {
  text-align:center;
  font-size: 2vmin;
}

div#difficulty {


}

option {

}

.sm-4 {
  display:flex;
  justify-content: center;
}

.image-col {
  display:flex;
  justify-content: center;
}

div#solutionButtonBox {
  display:flex;
  justify-content: center;
}
div#soundButtonBox {
  display:flex;
  justify-content: center;

  margin-top: 1vmin;
  margin-bottom: 1vmin;

}

#textfield1 {

  padding: 1vmin 0 1vmin 0;
}


.column {

}

.col-8 {
  padding: 0 0 0 0;
  margin-bottom: 0;
  margin-top: 0;
}

.col-2 {
  padding: 0 0 0 0;
  margin-bottom: 0;
  margin-top: 0;

}

.sm-4 {
  padding: 0 0 0 0;
  margin-bottom: 0;
  margin-top: 0;

}
.col-6 {
  padding: 0 0 0 0;
  margin-bottom: 0;
  margin-top: 0;

}

.row {
  margin-bottom: 0.5vmin;
}


@media all and (max-width:30em){
  .column{
  float: none;
  display:block;
  margin:0.2em auto;
 }
}


div#inputField {

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1vmin;
  margin-bottom: 1vmin;


}




div#solutionButtonBox {

  margin-top: 1vmin;
  margin-bottom: 1vmin;
}

div#solutionButtonBox button{

}

#middle-main

#solutionButton1 {

}
#solutionButton2 {

}
