/* .italic wird hier benutzt um den lateinischen Namen kursiv anzuzeigen
*/



body {
  background-color: rgb(226, 245, 181);
  color: #363636;
  font-family: Arial, Helvetica, sans-serif;
  height:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden; /* Fix for firefox and IE 10-11  */
  -moz-column-count: 1;
   column-count: 1;
}

@media all and (max-width:300px){

  #top-box {

  }

  div#soundButtonBox{

  }

  #inputField{

  }
  div#solutionButtonBox {

  }

  #solutionButton1{

  }

  #solutionButton2 {

  }

  img#img1 {

  }
  div.image-col{

  }

  #attribution {

  }




  h2 {

  }

  .select-wrapper {

  }

  .btn-primary{


  }

  div#inputField button {


  }

  div#soundButtonBox {

  }
  label {

  }
  .select-wrapper {

  }



  div#inputField button {

  }

  div#inputField input {

  }

  div#soundButtonBox {

  }


  select {

  }



  select {

  }


}
}


@media (min-width: 300px) {

  #top-box {

  }

  #title {
    font-size: 5.9vw;
  }

  div#soundButtonBox{

  }

  #inputField{

  }
  div#solutionButtonBox {


  }

  img#img1 {
    max-width: 1px;
    width:50%;
  }
  div.image-col{

  }

  #attribution {

  }

  h2 {

  }

  .select-wrapper {

  }

  .btn-primary{


  }

  div#inputField button {

  }

  div#soundButtonBox {

  }
  .column{

  }

  select {

  }


}

@media (min-width: 480px) {


    #top-box {

    }



    .select-wrapper {

    }

    div#soundButtonBox{

    }

    label {

    }

    div#soundbuttonBox button{

    }

    div#inputField{

    }


    div#solutionButtonBox {


    }
}

@media (min-width: 700px) {

  label {

  }


  div#soundButtonBox{

  }

  div#soundbuttonBox button{

  }

  div#inputField{

  }


  div#solutionButtonBox {


  }

  img#img1 {
      max-width: 30%;
  }

  div.image-col{

  }



  .select-wrapper {

  }


}

@media (min-width: 800px) {


}

@media (min-width: 960px) {

}

@media (min-width: 1100px) {

  h2 {

  }

  label {

  }

  #top-box {
    display: flex;
    flex-direction: row;
  }

  #top-box h1{

  }

  .select-wrapper{
    position: fixed;
    margin: auto;
    right: 0;
    top:0;
    width: 20%;
  }


  #title{

  }

  div#soundButtonBox{

  }

  .btn-primary{


  }

  div#inputField button {

  }

  div#solutionButtonBox button{

  }

  #solutionButton2 {

  }

  div#inputField{

  }


  div#solutionButtonBox {

  }

  img#img1 {

  }

  div.image-col{

  }

  .select-wrapper {

  }
}

@media (min-width: 1440px) {

  #top-box {

  }

  #title{

  }

  div#soundButtonBox{

  }

  div#soundbuttonBox button{

  }

  div#inputField{

  }


  div#solutionButtonBox {


  }





  #top-box h1{

  }
}


#title h1{
  font-size: 3.9vmin;

}

label{
  font-size: 1.9vmin;
}

#difficulty{
  font-size: 1.9vmin;
  height: 2vmin;
}

div.image-col{
  margin-bottom: 2vmin;
}

img#img1 {
  max-width: 40vmin;
}

#soundButtonBox {

}
#soundButtonBox button{
  font-size: 2.1vmin;

}

#textfield1 {
  font-size: 2.1vmin;
}

#inputField button{
  font-size: 2.1vmin;
}

#solutionButton1 {
  font-size: 2.1vmin;
}

#solutionButton2 {
  font-size: 2.1vmin;
}

#middle-main-3{

}
#middle-main-3 h2{
  font-size: 3vmin;

}

html {

  height: 100%;
  margin: 0;
  box-sizing: border-box;
  text-align: -webkit-center;

}

*, *:before, *:after { box-sizing: inherit; }

.italic {
  font-style: italic;
}





#top-box{
  overflow: hidden;
  margin-right: -0%;
}


#top-box::after {
  content: "";
  clear: both;
  display: table;
}



.select-wrapper {
  margin-top: 1vmin;
  margin-bottom: 1vmin;

}


.select-wrapper::before {
  color: #fff;
  font-size: 20px;
  pointer-events: none;

}

div#select-wrapper:after {
  content: "";
  display: table;
  clear: both;
  box-sizing: border-box;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  /* der folgende Aufruf nutzt Data-Uri -> hier werden die Bildinformationen eines kleinen Bildes wie ein Link zu einer externen Quelle
  -> statt eine externe Bild-Datein lädt der Browser direkt die Bilddaten
  --> uri-Generatoren sind online zu finden
  */
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8nwYAAmoBZ0eMiB8AAAAASUVORK5CYII=) repeat;
  border: none;
  border-radius: 3px;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,.3);
  color: #000;
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  outline: none;
  padding-left: 10px;
  width: 100%;
}

select option {
  color: #000;
}

select::-ms-expand {
  display: none;
}

select:focus::-ms-value {
  background-color: transparent;
}

@media all and (max-width:30em){

}



h2 {
  text-align: center;
}

img#img1 {

}

/* attribution is the line for attributing the author of certain pictures */
#attribution {
  text-align:center;
  font-size: 1vmin;
}

div#difficulty {

}

div#soundButtonBox {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1vmin;
  margin-bottom: 1vmin;

}


.column {

}




@media all and (max-width:30em){
  .column{
  float: none;
  display:block;
  margin:0.2em auto;
 }
}


div#inputField {

  display: flex;
  justify-content: space-around;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
}





@media all and (max-width:30em){
  div#inputField button{
  display:block;
  margin:0.2em auto;
 }
}

div#solutionButtonBox {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
}

div#solutionButtonBox button{

}



#solutionButton1 {

}
#solutionButton2 {
  align-self: flex-end;
}
