/* .italic wird hier benutzt um den lateinischen Namen kursiv anzuzeigen
*/




body {
  background-color: rgb(226, 245, 181);
  color: #363636;
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100
  margin: auto;
}

  .italic {
    font-style: italic;
  }

#main {

  position: absolute;
  left: 50%;
  top: 20%;
  width: 100em;
  height: 300em;
  margin-left: -15em;
  /* -1/2 width */
  margin-top: -10px;
  /* -1/2 height */



}

#main img{
  position: relative;
  margin: 0 auto;
}


#main * {
  margin: 0 auto;
}

div#soundButtonBox {
  position: relative;

  width: 150em;

  margin-top: 1em;
  margin-bottom: 3em;
  margin-left: 2em;
  /* -1/2 width */

  /* -1/2 height */
}

div#soundButtonBox button {
  width: 7em;
  margin-left:1em;
  margin-right: 1em;
  padding:0.3em 1.2em;
  border-radius:0.5em;
  border: 0;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  font-size: 16px;
  color:#FFFFFF;
  background-color:#4eb5f1;
  text-align:center;
  transition: all 0.2s;
}

div#soundButtonBox button:hover{
 background-color:#4095c6;
}

@media all and (max-width:30em){
 div#soundButtonBox button{
  display:block;
  margin:0.2em auto;
 }
}
